In [3]:
import pandas as pd

In [4]:
#Read in your data as a CCSV file bison
bison = pd.read_csv('/Users/music/Desktop/bison.csv')

In [5]:
#Look at the first seven rows of your data
bison.head(7)

  Collection/Population Locality SpecimenNumber  Genus   Species  Length
0                  12 Mile Creek         112916  Bison  antiquus       8
1                  12 Mile Creek         112917  Bison  antiquus       7
2                  12 Mile Creek         112918  Bison  antiquus       7
3                  12 Mile Creek         112919  Bison  antiquus       8
4                  12 Mile Creek         112921  Bison  antiquus       9
5                  12 Mile Creek         112925  Bison  antiquus       9
6        Agate Basin-Agate Basin            458  Bison  antiquus       7

In [6]:
#Look at the last seven rows of your data
bison.tail(7)

     Collection/Population Locality    SpecimenNumber  Genus   Species  Length
1100                       Simonsen           SW37 #9  Bison  antiquus       9
1101                       Simonsen           SW37 #9  Bison  antiquus       8
1102                         Terapa          TERA 403  Bison  antiquus       7
1103                         Terapa          TERA 404  Bison  antiquus       8
1104                         Terapa          TERA 426  Bison  antiquus       9
1105                           WICA        422F7A5179  Bison     bison       7
1106                           WICA  AVID*074*597*636  Bison     bison       7

In [7]:
#What is the median length of the bison?
bison.median()

Length    8.0
dtype: float64

In [33]:
#What is the mean and standard deviation of Length?bison.mean()
bison.describe()

            Length
count  1107.000000
mean      7.981030
std       0.808299
min       7.000000
25%       7.000000
50%       8.000000
75%       9.000000
max       9.000000

In [31]:
#Determine the number of rows your dataset 
len(bison)

1107

In [36]:
#Determine the number of columns your dataset 
len(bison.columns)

5

In [42]:
#How many bison are of the species antiquus?
bison.Species.describe()

count         1107
unique           3
top       antiquus
freq           633
Name: Species, dtype: object